<ion-header translucent="true">
  <ion-toolbar>
      <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Join us for our events</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-list>
    <ion-list-header>
      <b>Upcoming Events</b>
    </ion-list-header>

    <ion-item lines="none">
      <ion-label>
        <h2>Friday Night Prayers</h2>
        <h3>Sept 24, 10PM</h3>
        <!--<p>Theme: Rain of Mercy</p>-->
      </ion-label>
    </ion-item>

    <ion-item lines="none">
      <ion-label>
        <h2>CCCG Youth Day</h2>
        <h3>Sept 25, 1PM</h3>
        <p>Youth (Ages 11-17)</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header>
      <b>Recurring Services</b>
    </ion-list-header>

    <ion-item lines="none">
      <ion-label>
        <h2>Sunday 1st Service</h2>
        <h3>9.30AM</h3>
        <p>Our Celebration Service</p>
      </ion-label>
    </ion-item>

    <ion-item lines="none">
      <ion-label>
        <h2>Sunday 2nd Service</h2>
        <h3>11.30AM</h3>
        <p>School of the Spirit</p>
      </ion-label>
    </ion-item>
    

    <ion-item lines="none">
      <ion-label>
        <h2>Ask Pastor E</h2>
        <h3>Tuesdays, 6PM</h3>
        <p>Livestream on Youtube and Facebook</p>
      </ion-label>
    </ion-item>

    <ion-item lines="none">
      <ion-label>
        <h2>Bible Study</h2>
        <h3>Thursdays, 6.30PM</h3>
        <p>Come for the teaching, bring your questions!</p>
      </ion-label>
    </ion-item>

    <ion-item lines="none">
      <ion-label>
        <h2>Night Prayers</h2>
        <h3>Last Friday of the month - 10PM</h3>
        <p>Power Packed!</p>
      </ion-label>
    </ion-item>

    <ion-item lines="none">
      <ion-label>
        <h2>CCCG Youth Day</h2>
        <h3>Last Saturday of the month - 10PM</h3>
        <p>Building up our Youth!</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
