<ion-header translucent="true">
  <ion-toolbar>
      <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Latest at CCCG</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <!-- <ion-toolbar>
    <ion-segment color="primary"  [(ngModel)]="type"  (ionChange)="segmentChanged($event)" scrollable>
      <ion-segment-button value="sermons" checked>
        <ion-label class="segment">Sermons</ion-label>
      </ion-segment-button>
      <ion-segment-button value="latest">
        <ion-label class="segment">Broadcasts</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar> -->

  <div *ngIf="dataload">
  <!-- <div [ngSwitch]="type"> -->
    <ion-list>
      <!-- <ion-searchbar style ="color:white" autocomplete="on" debounce="888" animated [(ngModel)]="searchModel" (ionClear)="videos =[]" (ionChange)=
      "search()"></ion-searchbar> -->
      
      <ion-list-header>Sunday Services</ion-list-header>

      <ion-slides pager="false" [options]="slideOpts">
        <ion-slide *ngFor="let video of database.SundayVideos">
          <ion-card (click)="itemTapped(video.videoId, video.videoTitle, video.videoPub)">
            <img [src]="video.videoImg" style="object-fit: fill;" />
            <ion-card-header>
              <ion-card-subtitle>{{ video.videoTitle }}</ion-card-subtitle>
            </ion-card-header>
          </ion-card>
        </ion-slide>
      </ion-slides>   

      <ion-list>
        <ion-list-header>Ask Pastor E</ion-list-header>

      <ion-item *ngFor="let oldVideo of database.TuesdayVideo" lines="none">
          <ion-card (click)="itemTapped(oldVideo.videoId, oldVideo.videoTitle, oldVideo.videoPub)">
            <img [src]="oldVideo.videoImg" style="object-fit: fill;" />
          </ion-card>
        </ion-item>
      </ion-list>

    <ion-list>
      <ion-list-header>Bible Study</ion-list-header>

    <ion-item *ngFor="let oldVideo of database.ThursdayVideo" lines="none">
        <ion-card (click)="itemTapped(oldVideo.videoId, oldVideo.videoTitle, oldVideo.videoPub)">
          <img [src]="oldVideo.videoImg" style="object-fit: fill;" />
        </ion-card>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-list-header>Friday Night Prayers</ion-list-header>

    <ion-item *ngFor="let oldVideo of database.FridayPrayersVideo" lines="none">
        <ion-card (click)="itemTapped(oldVideo.videoId, oldVideo.videoTitle, oldVideo.videoPub)">
          <img [src]="oldVideo.videoImg" style="object-fit: fill;" />
        </ion-card>
      </ion-item>
    </ion-list>

  </ion-list>
</div>
</ion-content>